.s-1 {
  .banner {
    background-image: url(../images/Rectangle.png);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    min-height: 600px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    max-width: 1700px;
    @media (max-width: 795px) {
      background-size: cover;
      background-position: center;
      min-height: 400px;
    }
  }
  .discovergreece {
    @include myflex(flex, column, nowrap, center, center);
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  .bannertitle {
    @include mybigtitle;
    @media (max-width: 795px) {
      font-size: 60px;
    }
  }
  .bannertext {
    color: #fff;
    font-family: Helvetica;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
